{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>社区匹配结果</title>
<link rel="stylesheet" href="{% static 'deepmatching/index.css' %}" type="text/css"/>

<script type="text/javascript" src="{% static 'deepmatching/vis.js' %}"></script>
<link href="{% static 'deepmatching/vis-network.min.css' %}" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
			var nodes = [
			{% for node in nodes_of_matched_community%}
				{id:{{node.0}},label:"{{node.1}}",title: "{{node.2}}",group: {{node.3}},shape: "{{node.4}}",size: {{node.6}},font:{{node.5}}},
			{% endfor %}

			{% for node in nodes_of_unmatched_community%}
				{id:{{node.0}},label:"{{node.1}}",title: "{{node.2}}",group: {{node.3}},shape: "{{node.4}}",size: {{node.6}},font:{{node.5}}},
			{% endfor %}
			];

            // create some edges
			var edges = [
			{% for e in all_edges_final%}
				{from:{{e.0}},to:{{e.1}}},
			{% endfor %}

			{% for e in edges_between_matched_community%}
				{from:{{e.0}},to:{{e.1}},color:{color:"red",highlight:"red"},width:30},
			{% endfor %}
			];


        function draw() {
            // create some nodes

				//legend
      	var mynetwork = document.getElementById('mynetwork');
      	var x = -mynetwork.clientWidth / 2 + 550;
      	var y = -mynetwork.clientHeight/ 2 + 5450;
		console.log("x = "+x+"\ty = "+ y);
     	var step = 1050;
		{%if graph_order == 1%}
      		nodes.push({id: {{legend1}}, x: x, y: y, label: '网络1', fixed: true, size: 200,physics:false,font:{size: 200},shape:"dot" });
      		nodes.push({id: {{legend2}}, x: x+step, y: y, label: '网络2', size: 200,fixed: true,  physics:false,font:{size: 200},shape:"diamond" });
		{% else %}
      		nodes.push({id: {{legend1}}, x: x, y: y, label: '网络1', fixed: true, size: 200,physics:false,font:{size: 200},shape:"diamond" });
      		nodes.push({id: {{legend2}}, x: x+step, y: y, label: '网络2', size: 200,fixed: true,  physics:false,font:{size: 200},shape:"dot" });
		{%endif%}

            // create a network
            var container = document.getElementById('mynetwork');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
				nodes:{
						shadow: true,
						borderWidth: 1,
						scaling:{
							min:20,
							max:50
						},
					  },
                physics: {
					solver: "forceAtlas2Based",
					forceAtlas2Based:{
						gravitationalConstant: -250,
						centralGravity: 0.001,
						springLength:450,
						springConstant:0.05,
						avoidOverlap:0,
					},
                    stabilization: {iterations: 2150},
                },
				edges:{
						smooth: false
					  },
				interaction: {
						hover: true
							 }
            };
        var network = new vis.Network(container, data, options);

	    network.on("hoverNode", function(params) {
	  	console.log(params);
		overShow(params);
		});

	    network.on("blurNode", function(params) {
		outHide(params);
		});

        }
    </script>

</head>
<body onload="draw()">

<div class="main">
	<div class="top">DeepMatching</div>
	<div class="left">
		<a href="{% url 'index'%}">DeepMatching简介</a>
		<a href="{% url 'graph_matching' %}" >网络匹配</a>
		<a href="{% url 'community_matching' %}">社区匹配</a>
	</div>

	<div class="right">
		<div id="mynetwork" class="mynetwork"></div>
		<div id="back" style="position: relative; text-align: center;">
		</div>
	</div>
</div>

</body>
</html>

