{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网络匹配</title>
<link rel="stylesheet" href="{% static 'deepmatching/bootstrap.min.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'deepmatching/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'deepmatching/vis.js' %}"></script>
<link href="{% static 'deepmatching/vis-network.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'deepmatching/index.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'deepmatching/bootstrap.min.js' %}"></script>
</head>
<script type="text/javascript">
var timer;
function show_progessbar()
{
		document.getElementById("sbmt").disabled=true;
	  	var showDiv = document.getElementById('prog_bar');
	  	showDiv.style.display = 'block';
		timer = setInterval("get_process()",100);
		document.getElementById('g_form').submit();
		return true;
}
function get_process()
{
	$.getJSON("{% url 'get_graph_matching_process' %}",function(res){
		console.log("recv: "+res + "%");
		$('#prog_in').css("width",res + "%").text("正在匹配..." + res + "%");
		//$('#prog_in').width(res + "%").text("正在匹配..."+res + "%");
		if(res >= 100)
		{
			clearInterval(timer);
			 $('#prog_out').attr("class", "progress progress-bar-success");
		}
	}
	);
}

function checkInput(){
	if(document.getElementById("graph1").value =="")
	{
		alert("请选择网络文件1!");
		return false;
    }
	if(document.getElementById("graph2").value =="")
	{
		alert("请选择网络文件2!");
		return false;
    }
	return true;
}
</script>
<body>
<div class="main">
	<div class="top">DeepMatching</div>
	<div class="left">
		<a href="{% url 'index'%}">DeepMatching简介</a>
		<a href="{% url 'graph_matching' %}" >网络匹配</a>
		<a href="{% url 'community_matching' %}">社区匹配</a>
	</div>
	<div class="right">
		<form id="g_form" action="post_graph_matching/" ENCTYPE="multipart/form-data" method="post" onsubmit="return checkInput();">
		<table>
			<tr>
				<td style="text-align: right;">网络文件1</td>
				<td><input id="graph1" type="file" placeholder="请选择网络文件1" name="filename1"></td>
				<td style="text-align: right;">网络文件2</td>
				<td><input id="graph2" type="file" placeholder="请选择网络文件2" name="filename2"></td>
			</tr>
			<tr>
				<td style="text-align: right;" >一致性边数量</td>
				<td>
					<select name="ch">
						<option value =2>2</option>
						<option value =3>3</option>
						<option value =4>4</option>
						<option value =5>5</option>
					</select>
				</td>
				<td></td>
			</tr>
		</table>
		<input id="sbmt" type="submit" style="display:block; width:120px; height: 50px; text-algin:center; margin:200px auto 0 auto;background: #c8e5fe; color:#131212; border-radius: 25px;" value="开始匹配" onclick="return show_progessbar();"/>
		</form>
		<br>
		<div id="prog_bar" class="progress" style="display:none;">
			<div id="prog_out" class="progress progress-striped active" >
    			<div id="prog_in" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
