{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>王大阳的远程文件管理系统</title>
<link rel="stylesheet" href="{% static 'filemanage/index.css' %}">
</head>

<body>
<div class="main">
	<div class="top">王大阳的文件管理系统</div>
	<div class="left">
		<a href="upload_file_html">文件上传</a>
		<a href="download_file_html">文件下载</a>
	</div>
	<div class="right">
		<form enctype="multipart/form-data" action="upload_file_post" method="post">
		   <input type="file" name="filename" />
		   <br/>
		   <input type="submit" value="开始上传"/>
		</form>
		{% if file_count > 0 %}
		<div>
		已上传{{file_names}},共{{file_count}}个文件.
		</div>
		{% endif %}
	</div>
</div>
</body>
</html>
